@model TaskApi2b.UI.Models.UserInputViewModel

@{
    ViewData["Title"] = "Home Page";
}

@Html.AntiForgeryToken()

<div class="text-center">
    <h1 class="display-4">Simple converter</h1>
</div>


<form asp-action="Index">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="BaseCurrency" class="control-label"></label>
                <input asp-for="BaseCurrency" class="form-control" />
                <span asp-validation-for="BaseCurrency" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="TargetCurrency" class="control-label"></label>
                <input asp-for="TargetCurrency" class="form-control" />
                <span asp-validation-for="TargetCurrency" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" asp-is-invariant="true" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="form-group">
                        <input type="submit" value="Convert" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <u>Api Result</u>
    <p>@ViewBag.Message</p>
    <p><h6>@ViewBag.Amount</h6></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
